</main>
<footer>
  <a href="//twitter.com/@{{ site.twitter }}" title="{{ site.twitter }}" class="twitter">@{{ site.twitter }}</a>
  <a href="/about" title="About" class="about">About</a>
</footer>
<!-- JQuery -->
<script src={{ "js/vendor/jquery/jquery.min.js" | relative_url }}></script>
<!-- Slick -->
<script src={{ "js/vendor/slick/slick.min.js" | relative_url }}></script>
<script>
  $(".posts, .gallery").slick({
      // normal options...
      infinite: true,
      slidesToShow: 4,
      arrows: true,
      appendArrows: $('nav'),
      // the magic
      responsive: [{
        breakpoint: 1920,
        settings: {
          slidesToShow: 3,
          infinite: true
        }
      }, {
          breakpoint: 768,
          settings: {
            slidesToShow: 2,
            infinite: true
          }
        }, {
          breakpoint: 600,
          settings: {
            slidesToShow: 1,
            infinite: true
          }
        }]
    });
</script>
{% if page.layout != 'home' %}
<!-- Fluidbox -->
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-throttle-debounce/1.1/jquery.ba-throttle-debounce.min.js"></script>
<script src={{ "js/vendor/fluidbox/fluidbox.min.js" | relative_url }}></script>
<script src={{ "js/vendor/animsition/animsition.min.js" | relative_url }}></script>
<script>
    $(function () {
      $('.lightbox').fluidbox({
        stackIndex: 1500;
      });
    });
</script>
{% endif %}
<!-- Typekit -->
<script src="https://use.typekit.net/lvf3xby.js"></script>
<script>try{Typekit.load({ async: true });}catch(e){}</script>
<!-- GA -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-67826571-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
