.post_comments,
form {
  width: 100%;
  margin-top: 5rem;
}

form {
  display: flex;
  flex-direction: column;
}

form label {
  font-size: 1.2rem;
}

form .input-group {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}

form .input-group input {
  width: 50%;
}

@media screen and (max-width: 480px) {
  form .input-group input {
    width: 100%;
  }
}

form input,
form textarea {
  margin: 0 0 1rem 0;
  padding: 1.5rem;
  border: 0;
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.4);
  color: rgba(0, 0, 0, 1);
  transition-duration: 250ms;
}

form input:focus,
form textarea:focus {
  background-color: rgba(255, 255, 255, 0.6);
}

form textarea {
  width: 100%;
}

form button {
  border: 1px solid rgba(0, 0, 0, 1);
  border-radius: 0;
  background-color: rgba(0, 0, 0, 1);
  color: rgba(255, 255, 255, 1);
  transition-duration: 250ms;
}
