/*-------------------------*\
  Post layout
\*-------------------------*/

article {
  max-width: 60rem;
  margin: 5rem auto;
  padding: 0 2.5rem;
}

article img {
  max-width: 100%;
  height: auto;
  margin: auto;
}

.gallery-image img,
.slick-slide img {
  width: 100%;
  height: auto;
}

.post-footer {
  text-align: center;
  font-size: 1.4rem;
}

.gallery {
  margin-top: 2.5rem;
}

/* Recipe */

.article-cooking .article-body {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.article-cooking .article-body .ingredients {
  width: calc(40% - 1.75rem);
  list-style: none;
}

.article-cooking .article-body .ingredients .ingredient {
  padding: 1.75rem 0;
  list-style-type: none;
  font-size: 1.4rem;
  border-top: 1px dotted rgba(0, 0, 0, 0.75);
}

.article-cooking .article-body .ingredients .ingredient:last-child {
  border-bottom: 1px dotted rgba(0, 0, 0, 0.75);
}

.article-cooking .article-body .article-body-content {
   width: calc(60% - 1.75rem);
}

@media screen and (max-width: 720px) {
  .article-cooking .article-body .ingredients,
  .article-cooking .article-body .article-body-content {
    width: 100%;
  }
}
