//// Variables

// Scaffold

$base-padding: 2.5rem;

// Nav

$nav-height: 5rem;
$nav-background-color: #fff;

// Type

$base-font-size: 1.8rem;
$base-line-height: 1.45;
$base-font-color: #111;


// Site colors

$base-background-color: #f3f2f1;
