---
layout: default
---
		{% if page.gallery_images %}
		<!-- Gallery -->
		<ul class="gallery">
			{% for gallery_image in page.gallery_images %}
			<li class="gallery-image">
				<a href="/img/{{ gallery_image.image_path }}" title="{{ gallery_image.title }}" class="lightbox">
					<img src="/img/{{ gallery_image.image_path }}" alt="{{ gallery_image.title }}"/>
				</a>
			</li>
			{% endfor %}
		</ul>
		<!-- / Gallery -->
		<!-- Article container -->
		<article class="article-{{ post.category }}">
		{% else %}
		<!-- Article container -->
		<article class="article-{{ post.category }}">
			{% if page.cover_image %}
			<!--- Article header -->
			<header class="article-header">
				<a href="/img/{{ page.cover_image }}" title="{{ page.title }}" class="lightbox">
					<img src="/img/{{ page.cover_image }}" alt="{{ page.title }}"/>
				</a>
			{% endif %}
		{% endif %}
			<h1>{{ page.title }}</h1>
			</header>
			<!-- / Article header -->
			<!-- Article body -->
			<section class="article-body">
				{% if page.ingredients %}
					<ul class="ingredients">
					{% for ingredient in page.ingredients %}
						<li class="ingredient">
							<span class="quantity">{{ ingredient.quantity }}</span> <span class="name">{{ ingredient.name }}</span>
						</li>
					{% endfor %}
					</ul>
				{% endif %}
				{{ content }}
			</section>
			<!-- / Article body -->
			<!-- Footer -->
			<footer class="post-footer">
			  {{ page.date | date: "%B %-d, %Y" }}
				<!-- Comments -->
				<section class="post-comments">
					{% include comment_form.html %}
				</section>
				<!-- / Comments -->
			</footer>
			<!-- / Footer -->
		</article>
		<!-- / Article container -->
